/*colors*/
@gray: #1b1b1b; //популярное, фото дня
@red: #B30F2D; //спорт
@orange: #c15e25; //политика
@yellow: #D1AB1B; //авто
@green: #339967; //регионы
@light-blue: #00B2BC; //казань
@blue: #648EE2; //экономика
@dark-blue: #005C9D; //зарубеж
@purple: #653694; //шоу бизнес
@pink: #BA48BA; //необычное
@haki: #847532;

.red {
  color: @red !important;
}

.orange {
  color: @orange !important;
}

.yellow {
  color: @yellow !important;
}

.haki {
  color: @haki !important;
}

.green {
  color: @green !important;
}

.light-blue {
  color: @light-blue !important;
}

.blue {
  color: @blue !important;
}

.dark-blue {
  color: @dark-blue !important;
}

.purple {
  color: @purple !important;
}

.pink {
  color: @pink !important;
}

.gray {
  color: @gray !important;
}

.h-red :hover {
  color: @red !important;
}

.h-orange :hover {
  color: @orange !important;
}

.h-yellow :hover {
  color: @yellow !important;
}

.h-haki :hover {
  color: @haki !important;
}

.h-green :hover {
  color: @green !important;
}

.h-light-blue :hover {
  color: @light-blue !important;
}

.h-blue :hover {
  color: @blue !important;
}

.h-dark-blue :hover {
  color: @dark-blue !important;
}

.h-purple :hover {
  color: @purple !important;
}

.h-pink :hover {
  color: @pink !important;
}

.h-gray :hover {
  color: @gray !important;
}

.bg-red {
  background-color: @red !important;
}

.bg-orange {
  background-color: @orange !important;
}

.bg-yellow {
  background-color: @yellow !important;
}

.bg-haki {
  background-color: @haki !important;
}

.bg-green {
  background-color: @green !important;
}

.bg-light-blue {
  background-color: @light-blue !important;
}

.bg-blue {
  background-color: @blue !important;
}

.bg-dark-blue {
  background-color: @dark-blue !important;
}

.bg-purple {
  background-color: @purple !important;
}

.bg-pink {
  background-color: @pink !important;
}

.bg-gray {
  background-color: @gray !important;
}


