.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  zoom: 1;
}
*:first-child + html .clearfix {
  zoom: 1;
}
a {
  text-decoration: none;
  color: #1a1a1a;
}
a:hover {
  color: #002c7a;
}
.custom-object-fit {
  position: relative;
  background-size: cover;
  background-position: center center;
}
.custom-object-fit img {
  opacity: 0;
}
div {
  box-sizing: border-box;
}
body {
  background-color: #e6e6e6;
  font-family: HelveticaRegular, serif;
  font-size: 13px;
}
.container {
  width: 1320px;
  max-width: 1320px;
  margin: 0 auto;
  color: #1a1a1a;
}
.border {
  border: 1px solid #ccc;
}
.col-1 {
  width: 430px;
}
.col-2 {
  width: 875px;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.header {
  margin-bottom: 20px;
}
.header .top-line {
  padding: 20px 0;
  background-color: #333333;
}
.header .top-menu {
  background-color: #fff;
  width: 100%;
}
.header .top-menu ul li {
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}
.header .top-menu ul li a {
  text-decoration: none;
  display: block;
  padding: 20px 15px;
  font-size: 13px;
}
.header .top-menu ul li.weather a {
  padding-top: 0;
  padding-bottom: 0;
}
.header .top-menu ul li.social a {
  padding: 18px 7px;
}
.header .top-menu ul li.social a:hover i {
  background-position-y: 19px;
}
.header .top-menu ul li.social a i {
  content: '';
  display: block;
  width: 19px;
  height: 18px;
  background-image: url("../img/social-icons.png");
  background-position-y: 0;
}
.header .top-menu ul li.social a i.vk {
  width: 18px;
  background-position-x: 0px;
}
.header .top-menu ul li.social a i.youtube {
  background-position-x: -30px;
}
.header .top-menu ul li.social a i.telegram {
  background-position-x: -60px;
}
.header .top-menu ul li.social a i.facebook {
  width: 12px;
  background-position-x: -90px;
}
.header .top-menu ul li.social a i.instagram {
  width: 14px;
  background-position-x: -110px;
}
.header .top-menu ul li.social a i.twitter {
  width: 15px;
  background-position-x: -135px;
}
.header .top-menu ul li.social a i.odnoklassniki {
  width: 11px;
  background-position-x: -162px;
}
footer {
  margin-top: 40px;
  background-color: #333333;
}
footer .container {
  padding: 50px 0;
}
footer .container ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .container ul li a {
  color: #fff;
  font-size: 13px;
  font-family: HelveticaLight, serif;
  letter-spacing: 1px;
}
footer .container ul li a:hover {
  text-decoration: underline;
}
footer .container ul li.yellow-upper {
  font-size: 37px;
  color: #F7E225;
}
footer .container ul li.yellow-upper span {
  position: relative;
  top: -3px;
}
.post-w-img {
  position: relative;
}
.post-w-img .img-wrapper {
  height: 100%;
  width: 100%;
}
.post-w-img .img-wrapper ::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 100%;
  transition: background-color 0.1s;
  z-index: 10;
}
.post-w-img .img-wrapper:hover ::before {
  background-color: rgba(0, 0, 0, 0.1);
}
.post-w-img .img-wrapper a {
  display: block;
  width: 100%;
  height: 100%;
}
.post-w-img .img-wrapper a .title {
  padding-right: 14px;
  z-index: 100;
  color: #ffffff;
  font-size: 13px;
  position: absolute;
  bottom: 13px;
  left: 15px;
  font-family: HelveticaUltraLight, serif;
  letter-spacing: 1.5px;
  text-shadow: 1px 0 7px #000000;
}
.post-w-img .img-wrapper a .title::before {
  background-color: transparent;
}
.post-w-img .img-wrapper a img {
  z-index: 4;
  object-fit: cover;
  object-position: center;
  display: block;
  width: 100%;
  height: 100%;
}
.post-w-img .category {
  position: absolute;
  top: 14px;
  left: 14px;
  padding: 5px 7px;
  color: #fff;
  text-transform: uppercase;
  z-index: 100;
  font-size: 11px;
  font-family: HelveticaLight, serif;
  letter-spacing: 1px;
}
.top-blocks {
  margin-bottom: 16px;
}
.top-blocks .block-left {
  float: left;
}
.top-blocks .block-left .carousel {
  margin-bottom: 20px;
}
.top-blocks .block-left .carousel .main-post {
  width: 654px;
  height: 417px;
  position: relative;
  float: left;
}
.top-blocks .block-left .carousel .main-post .title {
  bottom: 25px;
  left: 15px;
  font-size: 26px;
  text-shadow: 1px 0 7px #000000;
  letter-spacing: 1px;
  font-family: HelveticaLight, serif;
}
.top-blocks .block-left .carousel .small-posts {
  float: right;
}
.top-blocks .block-left .carousel .small-posts .post {
  width: 221px;
  height: 139px;
}
.top-blocks .block-left .posts-by-category {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.top-blocks .block-left .posts-by-category .post-w-img {
  width: 215px;
  height: 215px;
  display: inline-block;
  margin-top: 4px;
}
.top-blocks .block-left .posts-by-category .post-w-img:nth-child(4n) {
  margin-right: 0;
}
.top-blocks .block-right {
  float: right;
}
.top-blocks .block-right .head {
  background-color: #333333;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 15px;
}
.top-blocks .block-right .content {
  height: 841px;
  min-height: 841px;
  padding: 25px 17px;
  background-color: #fff;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.top-blocks .block-right .content .post {
  margin-bottom: 25px;
}
.top-blocks .block-right .content .post:last-child {
  margin-bottom: 0;
}
.top-blocks .block-right .content .post p {
  font-size: 14px;
  font-family: HelveticaLight, serif;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}
.top-blocks .block-right .content .post p:hover {
  color: #002c7a;
}
.top-blocks .block-right .content .post .info {
  font-size: 10px;
}
.top-blocks .block-right .content .post .info .time {
  font-family: HelveticaLight, serif;
  color: #808080;
  padding-right: 5px;
  font-size: 11px;
}
.top-blocks .block-right .content .post .info .category {
  text-transform: uppercase;
}
.top-blocks .block-right .content .post .info .category a:hover {
  text-decoration: underline;
}
.m-b {
  margin-bottom: 20px;
}
.advt {
  background-color: #fff;
  border: 1px solid #cccccc;
  height: 208px;
}
.post-card {
  background-color: #fff;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
}
.post-card:nth-child(2n) {
  margin-right: 0;
}
.post-card .post-w-img {
  height: 252px;
}
.post-card .category {
  text-transform: uppercase;
  color: #fff;
  padding: 14px;
  display: block;
  letter-spacing: 1px;
  font-size: 13px;
}
.post-card .posts {
  padding: 0 14px;
}
.post-card .posts ul {
  list-style: none;
  max-width: 100%;
}
.post-card .posts ul li {
  font-size: 15px;
  font-family: HelveticaLight, serif;
  border-bottom: 1px solid #ccc;
}
.post-card .posts ul li a {
  padding: 19px 0;
  display: block;
}
.post-card .posts ul li:last-child {
  border-bottom: none;
}
.post-card .posts ul li.main a {
  font-size: 16px;
  padding: 23px 0;
  font-family: HelveticaRegular, serif;
}
.arrow-wrapper {
  position: relative;
  z-index: 100;
}
.arrow-wrapper .arrow {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 101px;
  padding-left: 18px;
}
.arrow-wrapper .arrow:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.arrow-wrapper .arrow::after {
  width: 14px;
  height: 100%;
  content: '';
  display: block;
  background: url("../img/arrow.png") 0 center no-repeat;
}
.arrow-wrapper .arrow.left {
  left: 0;
}
.arrow-wrapper .arrow.right {
  right: 0;
}
.arrow-wrapper .arrow.right::after {
  background: url("../img/arrow.png") -14px center no-repeat;
}
.block2 .block-left {
  float: left;
  font-size: 0;
}
.block2 .block-left .posts {
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.block2 .block-left .post-card {
  vertical-align: top;
}
.block2 .block-left .post-card:nth-child(3),
.block2 .block-left .post-card:nth-child(4) {
  margin-bottom: 0;
}
.block2 .block-right {
  float: right;
}
.block2 .block-right .post-card {
  margin: 0;
}
.block2 .block-right .post-card .popular-main .title a {
  display: block;
  padding: 23px 0 20px 0;
  font-size: 16px;
  font-family: HelveticaRegular, serif;
}
.block2 .block-right .post-card .popular-main .descr {
  font-size: 15px;
  font-family: HelveticaLight, serif;
}
.block2 .block-right .popular .posts {
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}
.block2 .block-right .popular-others {
  padding: 15px 14px 25px 14px;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.posts-small .post {
  font-size: 0;
  margin-bottom: 24px;
}
.posts-small .post:last-child {
  margin-bottom: 0;
}
.posts-small .post .post-w-img {
  height: 98px;
  width: 169px;
  display: inline-block;
}
.posts-small .post h1 {
  display: inline-block;
  vertical-align: top;
  width: 226px;
  padding-top: 14px;
  padding-left: 14px;
  box-sizing: border-box;
}
.posts-small .post h1 a {
  width: 100%;
  font-size: 14px;
  font-family: HelveticaLight, serif;
  font-weight: normal;
}
.block3 {
  font-size: 0;
  padding: 0 1px;
}
.block3 .post-w-img {
  width: 262px;
  height: 262px;
  display: inline-block;
  margin-right: 2px;
}
.block3 .post-w-img .img-wrapper .title {
  font-size: 15px;
}
.block3 .post-w-img:last-child {
  margin-right: 0;
}
.block4 {
  font-size: 0;
}
.block4 .advt {
  height: 290px;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 15px;
  font-size: 14px;
}
.block4 .advt:last-child {
  margin-right: 0;
}
.block5 .photo-of-day {
  float: left;
}
.block5 .photo-of-day .arrow {
  top: 210px;
}
.block5 .photo-of-day .post-card {
  width: 100%;
  position: relative;
}
.block5 .photo-of-day .post-card .category {
  padding-top: 12px;
  padding-bottom: 12px;
}
.block5 .photo-of-day .post-card img {
  height: 510px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.block5 .photo-of-day .post-card .descr {
  position: absolute;
  display: block;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 17px;
  padding: 33px 30px;
  line-height: 20px;
  cursor: pointer;
  font-family: HelveticaLight, serif;
}
.block5 .partners {
  float: right;
  background-color: #fff;
  padding: 38px 17px;
}
.block5 .partners .posts-small .post .post-w-img {
  width: 100px;
  height: 100px;
}
.block5 .partners .posts-small .post h1 {
  width: 294px;
}
